In [1]:
import pandas as pd
import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

In [2]:
gmaps.configure(api_key='AI*************************************')

In [3]:
data = gmaps.datasets.load_dataset_as_df('belarus_rent')
data.head()

   latitude  longitude       rent
0   53.9201    27.6423  23.090000
1   53.9202    27.5745  18.031250
2   53.9399    27.4674  17.966667
3   53.9379    27.4733  33.950980
4   53.9068    27.5325  34.457711

In [4]:
d_sorted = data.sort_values(by='rent',ascending=False).head(20)
d_sorted

       latitude  longitude         rent
923   53.911322  27.571874  1283.000000
2966  53.873111  27.567227   342.000000
976   53.901255  30.340051   171.000000
2351  53.910200  27.557200    76.881559
3196  53.910200  27.557200    75.580808
2354  53.901929  27.547780    68.411111
3188  53.906900  27.573900    67.071895
3388  53.910162  27.556926    66.698440
3387  53.910542  27.556749    64.141667
2349  53.906800  27.532500    59.200000
20    53.906800  27.532500    59.200000
919   53.912200  27.584500    58.628571
3385  53.924600  27.649600    58.178382
924   53.919900  27.567100    57.007407
3191  53.911900  27.540200    56.947836
2344  53.912300  27.568800    56.814310
2336  53.906800  27.532500    56.599265
3373  53.898800  27.571500    55.861386
3375  53.898800  27.571500    55.809354
2339  53.910200  27.557200    55.377698

In [5]:
d_sorted.T.to_dict()

{923: {'latitude': 53.911322, 'longitude': 27.571874, 'rent': 1283.0},
 2966: {'latitude': 53.873111, 'longitude': 27.567227, 'rent': 342.0},
 976: {'latitude': 53.901255, 'longitude': 30.340051, 'rent': 171.0},
 2351: {'latitude': 53.9102, 'longitude': 27.5572, 'rent': 76.88155922},
 3196: {'latitude': 53.9102, 'longitude': 27.5572, 'rent': 75.58080808},
 2354: {'latitude': 53.901929, 'longitude': 27.54778, 'rent': 68.41111111},
 3188: {'latitude': 53.9069, 'longitude': 27.5739, 'rent': 67.07189542},
 3388: {'latitude': 53.910162, 'longitude': 27.556926, 'rent': 66.69844021},
 3387: {'latitude': 53.910542, 'longitude': 27.556749, 'rent': 64.14166667},
 2349: {'latitude': 53.9068, 'longitude': 27.5325, 'rent': 59.2},
 20: {'latitude': 53.9068, 'longitude': 27.5325, 'rent': 59.2},
 919: {'latitude': 53.9122, 'longitude': 27.5845, 'rent': 58.62857143},
 3385: {'latitude': 53.9246, 'longitude': 27.6496, 'rent': 58.17838246},
 924: {'latitude': 53.9199, 'longitude': 27.5671, 'rent': 57.00740741},
 3191: {'latitude': 53.9119, 'longitude': 27.5402, 'rent': 56.94783574},
 2344: {'latitude': 53.9123, 'longitude': 27.5688, 'rent': 56.81431005},
 2336: {'latitude': 53.9068, 'longitude': 27.5325, 'rent': 56.59926471},
 3373: {'latitude': 53.8988, 'longitude': 27.5715, 'rent': 55.86138614},
 3375: {'latitude': 53.8988, 'longitude': 27.5715, 'rent': 55.8093543},
 2339: {'latitude': 53.9102, 'longitude': 27.5572, 'rent': 55.37769784}}

In [6]:
flats = [
    {'location': (53.9102, 27.5572), 'rent': 77},
    {'location': (53.9102, 27.5572), 'rent': 75},
    {'location': (53.901929, 27.54778), 'rent': 68},
    {'location': (53.9069, 27.5739), 'rent': 67},
    {'location': (53.910162, 27.556926), 'rent': 67},
    {'location': (53.910542, 27.556749), 'rent': 64},
    {'location': (53.9068, 27.5325), 'rent': 59},
    {'location': (53.9122, 27.5845), 'rent': 59},
    {'location': (53.9199, 27.5671), 'rent': 57},
    {'location': (53.9119, 27.5402), 'rent': 57},
    {'location': (53.9123, 27.5688), 'rent': 57},
    {'location': (53.9068, 27.5325), 'rent': 56},
    {'location': (53.8988, 27.5715), 'rent': 56},
    {'location': (53.9102, 27.5572), 'rent': 55}
]

In [7]:
flat_locations = [flat['location'] for flat in flats]
info_box_template = """
<dl>
<dt>Rent</dt><dd>{rent}, BYN/sqm per month</dd>
</dl>
"""
flat_info = [info_box_template.format(**flat) for flat in flats]

figure_layout = {
    'width': '100%',
    'height': '75vh',
    'border': '2px solid white',
    'padding': '2px'
}
coordinates = (53.91, 27.55)

marker_layer = gmaps.marker_layer(flat_locations, info_box_content=flat_info)
fig = gmaps.figure(center=coordinates, 
                   zoom_level=13,  
                   layout=figure_layout)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(border='2px solid white', height='75vh', padding='2px', width='100%'))

In [8]:
embed_minimal_html('export-markers.html', views=[fig])